body {
    display: flex;
    justify-content: center;
    background-color: black;
}
footer {
    display: flex;
    background-color: #FDD835;
    width: 20%;
}
#loisirs {
    align-self: flex-end;
}
#contenu {
    width: 80%;
    background-color: white;
}
header span, article i {
    color: #FDD835;
}
footer h3 {
    background-color: #424242;
    color: #FDD835;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
footer h4, header h2, article h4, p {
    color: #424242;
    margin: 0;
}
#recommandation ul {
    display: flex;
    justify-content: flex-start;
}
article header {
    display: flex;
    justify-content: flex-start;
}
.footerparagraphe {
    padding: 2em;
    text-align: justify;
}
.footerparagraphe h4 {
    padding-top: 1em;
}
footer img {
    /*display: flex;
    justify-content: center;
    align-items: center;
    border: #424242;*/
    /*padding: 3em;*/
    /*overflow: hidden;*/
    border: 2px #424242 solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 40px 40px 40px 40px;

}
/*img {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}*/
.loisirsicons {
    display: flex;
    justify-content: space-around;
}
#loisirs i {
    /*border-radius:50%;
    width:120px;
    height:120px;  
    border-color: #424242;*/
    border: 2px #424242 solid;
    border-radius: 50%;
}
.iconePaddingLittle {
    padding: 0.1em;
}
.iconePaddingMiddle {
    padding: 0.18em;
    font-size: 3.8em;
    /*height: 0.8em;
    margin-bottom: 0.1em;*/
}
.moi {
    flex-grow: 1;
}