body {
    display: flex;
    justify-content: center;
    background-color: black;
}
footer {
    background-color: #FDD835;
    width: 30%;
}
#contenu {
    width: 70%;
    background-color: white;
}
header span, article i {
    color: #FDD835;
}
footer h3 {
    background-color: #424242;
    color: #FDD835;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
footer h4, header h2, article h4, p {
    color: #424242;
    margin: 0;
}
#recommandation ul {
    display: flex;
    justify-content: flex-start;
}
article header {
    display: flex;
    justify-content: flex-start;
}
footer img {
    display: flex;
    justify-content: center;
}
.footerparagraphe {
    padding: 2em;
    text-align: justify;
}
.footerparagraphe h4 {
    padding-top: 1em;
}
img {
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#loisirs i {
    /*border-radius:50%;
    width:120px;
    height:120px;  
    border-color: #424242;*/
    border: 2px #424242 solid;
    border-radius: 50%;
}
.iconePaddingLittle {
    padding: 0.1em;
}
.iconePaddingMiddle {
    padding: 0.2em;
}